{
    "extends": [
        "airbnb"
    ],
    "rules": {
        "indent": ["error", 4],
        "max-len": ["warn", { "code": 120 }],
        "no-console": "off",
        "no-plusplus": "off",
        "no-await-in-loop": "off",
        "no-continue": "warn",
    },
    "globals" : {
        "artifacts": false,
        "contract": false,
        "assert": false,
        "it": false,
        "before": false,
        "describe": false,
        "web3": false
    }
}
